.wrapForgot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .wrapLoginF_content {
        width: 500px;
        margin: 7rem 2rem;
        h3 {
            text-align: left;
            color: #7F1416;
            font-size: 22px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
    }
}