@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
footer {
    background-color: #7F1416;

    .wrapInside_foot {
        padding: 2rem 4.5rem 4.5rem 4.5rem;
    }

    .foot_p1,
    .foot_p2 {
        padding-bottom: 12px;
        border-bottom: 1px solid #fff;
    }

    .foot_p3 {
        padding-top: 15px;
    }

    .foot_p3 p {
        color: #fff;
        font-size: 15px;
        font-weight: 200;
    }

    .foot_p3 p:nth-child(2) span:nth-child(2) {
        color: #E47D7F;
        font-weight: 400;
    }

    .foot_p3 p:nth-child(2) span:nth-child(1) {
        padding: 3px;
    }


    .foot_p1_logo_social .w-f_p1_loSo {
        width: 50px;
        height: 50px;
        margin-bottom: 12px;
    }

    .foot_p1_logo_social .w-f_p1_loSo:nth-child(1) {
        margin-left: 11px;
        margin-right: 11px;
    }

    .foot_p2 .row {
        padding: 30px 0;
    }

    .foot_p2 .row .col-3 h3 {
        font-size: 17px;
        font-weight: 300;
        line-height: 22px;
        color: #fff;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
    }

    .foot_p2 .row .col-3:nth-child(1) ul {
        margin-top: 15px;
    }

    .foot_p2 .row .col-3:nth-child(1) ul li span,
    .foot_p2 .row .col-3:nth-child(2) ul li p:nth-child(2) span {
        padding-right: 7px;
    }

    .foot_p2 .row .col-3:nth-child(1) ul li,
    .foot_p2 .row .col-3:nth-child(2) ul li p:nth-child(2) {
        color: #fff;
        font-size: 14px;
        font-weight: 200;
    }

    .foot_p2 .row .col-3:nth-child(1) ul li {
        margin-top: 15px;
    }

    .foot_p2 .row .col-3:nth-child(2) ul li p:nth-child(1) {
        font-size: 16px;
        color: #E47D7F;
        font-weight: 500;
        line-height: 22px;
    }
}

header.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.8px solid #e5e5e5;
    input, textarea, .ant-input-affix-wrapper {
        background-color: #fff !important;
        border-color: #d9d9d9 !important;
        border-radius: 15px;
    }
    .ant-input-affix-wrapper:hover {
        border-color: #fff;
    }
    .logoheadertop {
        width: 125px;
        height: 125px;
    }
}

header.header_top > div {
    width: 33.33333%
}
header.header_top > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
header.header_top > div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    button {
        margin-right: 30px;
        width: 125px;
        height: 35px;
        border-radius: 10px;
        border: none;
        background-color: #7F1416;
        color: #fff !important;
        text-transform: uppercase;
    }
    button:hover span {
        color: #fff !important;
    }
    button:hover {
        background-color: #E47D7F;
    }
}

.ant-dropdown,
.ant-drawer
{
    z-index: 12000 !important;
}

header.header_bottom.fixed {
    position: fixed;
    z-index: 10000;
    top:0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    .menus {
        display: block;
        // background: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logoheader {
            display: block;
            height: 100%;
        }

        div:nth-child(2) {
            display: flex;
            align-items: center;
            .btn_login {
                display: block;
                width: 160px;
                button {
                    margin-right: 30px;
                    width: 125px;
                    height: 35px;
                    border-radius: 10px;
                    border: none;
                    background-color: #7F1416;
                    color: #fff !important;
                    text-transform: uppercase;
                }
            }
            .ant-menu {
                border-bottom: 0px;
                padding-right: 15px;
                width: 100%;
                display: flex;
                background-color: transparent;
            }
            .ant-menu .ant-menu-item{
                padding: 15px 22px;
            }
            .ant-menu .ant-menu-item.ant-menu-item-selected {
                background-color: #fff;
            }
            .ant-menu .ant-menu-item.ant-menu-item-selected .ant-menu-title-content {
                color: #7F1416 !important;
                font-weight: 600;
            }
            .ant-menu .ant-menu-item:hover .ant-menu-title-content {
                color: rgb(158, 22, 25) !important;
                transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
            }
            .ant-menu .ant-menu-item:hover {
                background-color: #fff;
            }

        }
    }
}

header.header_bottom {
    display: flex;
    justify-content: center;

    .repo_header_bot,
    .logoheader {
        display: none;
    }

    .repo_header_bot {
        margin-top: 45px;
        margin-right: 15px;
    }

    .menus {
        display: block;
        width: 100%;
        div:nth-child(2) {
            .btn_login {
                display: none;
            }
        }
    }


    .logoheader {
        width: 90px;
        height: 90px;
        margin: 8px 0;
    }

    .ant-menu-horizontal .ant-menu-item {
        padding-inline: 0 !important;
        padding: 15px 40px !important;
    }

    .ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
    .ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
    .ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after
    {
        border-bottom-width: 0 !important;
        border-bottom-color: transparent;
    }

    .ant-menu-overflow {
        justify-content: center;
    }

    .ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected .ant-menu-title-content {
        color: #7F1416 !important;
        font-weight: 600;
    }

    .ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover .ant-menu-title-content {
        color: rgb(158, 22, 25) !important;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }

    .ant-menu .ant-menu-title-content {
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 400;
        color: #828282;
    }
}

.wrapMain {
    ul {
        padding: 0;
        margin: 0;
    }
    
    li {
        cursor: pointer;
        list-style-type: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    div {
        font-family: "Be Vietnam Pro", sans-serif;
    }
    
    p {
        font-size: 14px;
        color: #222
    }
    
    small {
        font-size: 13px !important;
    }
    
    a:hover {
        color: #E47D7F;
    }
    
    a {
        color: #222;
        font-size: 14px;
        text-decoration: none;
        font-weight: 300;
    }
    
    p {
        margin-bottom: 10px;
    }
    
    img {
        max-width: 100%;
        width: 100%;
    }
    
    // button {
    //     width: 100%;
    //     background-color: #7F1416 !important;
    //     text-transform: uppercase;
    // }
    
    // button:hover {
    //     background-color: #b03638 !important;
    // }
    
    input,
    textarea,
    .ant-input-affix-wrapper {
        background-color: #d9d9d9 !important;
    }
    
    .ant-form-item-explain-error {
        font-size: 13px !important;
    }
    
    .ant-form-item-extra {
        font-size: 12px !important;
        margin-top: 7px;
    }
    
    .ant-tabs-tab-active {
    
        .ant-tabs-tab-btn {
            color: #7F1416 !important;
        }
    }
    
    .ant-tabs-ink-bar {
        background: #7F1416 !important;
    }
    
    .ant-modal-close {
        background-color: transparent !important;
    }
    
    .ant-input-number-affix-wrapper {
        width: 100% !important;
    }
    
    .txt-remider {
        color: #898989;
        margin: 20px 0;
        font-size: 14px;
    }
    
    .title_home {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    
        p {
            margin-bottom: 0 !important;
            font-size: 20px;
            color: #404040;
            font-weight: 400;
            text-transform: uppercase;
        }
    
        div {
            margin-top: 0 !important;
        }
    
        h3 {
            font-size: 24px;
            font-weight: 500;
            color: #7F1416;
            line-height: 32px;
            text-transform: uppercase;
        }
    
        h3,
        p,
        div {
            margin: 4px 0;
        }
    }
    
    input:focus {
        background: none !important;
    }
    .box_course {
        .box_course_img img {
            border-radius: 10px;
            height: 228px;
        }
        .box_course_content {
            margin-top: 18px;
            p, h5 {
                margin: 7px 0;
            }
            h5 {
                font-weight: 600;
                line-height: 30px;
                text-transform: uppercase;
            }
            p:nth-child(2) {
                color: #727272;
                font-weight: 600;
                text-transform: capitalize;
            }
            p:nth-child(3) {
                font-size: 14px;
                color: #222;
                line-height: 20px;
                font-weight: 300;
                overflow: hidden;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
            button {
                color: #fff !important;
                background-color: #7F1416;
                height: auto;
                padding: 4px 30px;
                border: none !important;
                text-align: center;
                margin-top: 5px;
            }
        }
    }
}

.footerBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #380001;
    margin: 0;
    padding: 0;
    z-index: 10000;
    .line {
        height: 3px;
        width: 100%;
        background: #fff;
    }
    .wrap_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 8px 45px;
        .btn {
            background: #c9a96d;
            border-radius: 5px;
            padding: 5px 15px;
            text-align: center;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            p {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            span {
                font-size: 18px;
                padding-right: 4px;
                svg {
                    padding-bottom: 2px;
                }
            }
        }
        p {
            color: #fff;
            margin-bottom: 0;
        }
    }
}

.ics-highlight {
    position: fixed;
    right: 10px;
    bottom: 80px;
    z-index: 10000;
}

