
.formContactWrap {
    .title_formContact {
        h1 {
            font-size: 28px;
            color: #7F1416;
        }
        .txt-remider {
            text-align: center;
            max-width: 800px;
        }
    
    }
    .formContact_form {
        width: 100%
    }
}




