.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

// responsive all

@media (max-width: 992px) {
    footer .wrapInside_foot {
        padding: 2rem;
    }

    footer .foot_p2 .row .col-3 {
        width: 100%
    }

    footer .foot_p2 .row .col-3:nth-child(n+2) {
        margin-top: 25px;
    }

    footer .foot_p3 p:nth-child(2) {
        text-align: right;
    }

    .formContactWrap>div {
        margin: 40px 8px !important;
    }

    .wrapProduct .list_cats_product .show_list_cats_product {
        padding: 2.6rem 3rem 0rem 3rem;
    }

    .wrapProduct .advertizing_products {
        margin: 40px 15px;
    }

    .wrapProduct .list_cats_product {
        margin: 65px 15px 20px 15px;
        padding: 0;
    }

    .wrapProduct .wrap_products {
        margin: 45px 15px;
        padding: 20px 0;
    }

    .wrapProduct .wrap_products .showlist_products {
        display: block;
    }

    .wrapProduct .wrap_products .showlist_products .productAdvertizing,
    .wrapProduct .wrap_products .showlist_products .productLists {
        width: 100%;
    }

    .wrapProduct .wrap_products .showlist_products .productAdvertizing {
        margin-left: 0;
    }

    .wrap_product_detail .wrap_product_detail_top .info,
    .wrap_product_detail .wrap_product_detail_top .info_left {
        width: 100%;
    }

    header.header_bottom {
        justify-content: space-between;
        border-bottom: 0.8px solid #e5e5e5;

        .menus {
            display: none !important;
        }

        .repo_header_bot,
        .logoheader {
            display: block !important;
        }
    }

    .ant-drawer .ant-drawer-content .ant-drawer-body {
        .ant-menu-light.ant-menu-root.ant-menu-vertical {
            border-inline: 0;
        }

        .ant-menu-light .ant-menu-item-selected {
            color: #fff !important;
            background-color: #7F1416 !important;
        }

    }

    header.header_top {
        display: none;
    }

    .wrapLoginForm .insideLoginForm {
        margin: 1.5rem;
    }

    .courseWrap_demo>.row>.col-8,
    .courseWrap_demo>.row>.col-4 {
        width: 100%
    }

    .courseWrap_demo>.row>.col-4 {
        margin-bottom: 20px;
    }

    .courseWrap_demo>.row>.col-8 .box_wrapDetCour_under .col-6 {
        width: 100%;
    }

    .courseWrap_demo>.row>.col-8 .box_wrapDetCour_under .col-6:nth-child(2) {
        margin-top: 15px;
    }

    .banner_wrap .row .col-6 {
        width: 100%;
    }

    .banner_wrap .row .col-6:nth-child(1) {
        margin-bottom: 25px;

        h1 {
            margin-left: 6px;
            margin-right: 6px;
            font-size: 32px;
        }
    }

    .banner_wrap .row .col-6:nth-child(2) .box_clock {
        width: 310px !important;
    }

    .banner_wrap .row .col-6:nth-child(2) .box_clock .percent_discount {
        left: 24%;
    }

    .banner_wrap .row .col-6:nth-child(2) .box_clock .clock div h4 {
        font-size: 28px;
    }

    .blog_wrap .row .col-4 {
        width: 100%;

    }

    .wrap_home .blog_wrap {
        margin: 45px 2rem;
    }

    .wrap_contactFormIntro .row .col-6 {
        width: 100%;
    }

    .wrap_contactFormIntro {
        margin: 50px 2rem;
    }

    .wrap_contactFormIntro .row .col-6:nth-child(2) {
        padding: 20px 0px 0px 15px;
        margin-top: 15px;
    }

    .wrap_contactFormIntro .row .col-6:nth-child(2) form {
        margin: 20px 0 !important;
    }

    .blogDetWrap .row .col-8,
    .blogDetWrap .row .col-4 {
        width: 100%;
    }

    .mainBlogWrap .mainBlog_1>div {
        width: 50%;
    }

    .mainBlogWrap .mainBlog_2 {
        margin: 85px 2rem;
    }

    .mainBlogWrap .mainBlog_2 .row .col-4 {
        width: 50%;
    }

    .wrapCourseDetail .boxTop .col-6 {
        width: 100%;
    }

    .wrapCourseDetail .boxTop .col-6:nth-child(2) {
        margin-top: 25px;
    }

    .wrapCourseDetail .boxTop {
        padding: 3rem 0rem;
    }

    .wrapCourseDetail .boxUnder,
    .wrapCourseDetail .boxUnder2 {
        padding: 0 1rem;
    }

    .wrapCourseDetail .boxUnder2 .contentSection>ul {
        width: 100%;
        padding: 25px 15px;
    }

    .wrapCourseDetail .boxUnder2 .contentSection>ul>li .topAcordition p {
        font-size: 14px;
    }

    .wrapCourseDetail .boxUnder .desc .desc_c ul {
        margin: 12px 0;
        margin-left: 25px
    }

    .wrapIntro .intro_contain,
    .wrapIntro .bannerLife .title_home,
    .wrapIntro .respondVictim {
        padding: 0 2rem;
    }

    .wrapIntro .intro_contain .row .col-8 {
        width: 100%;
    }

    .wrapIntro .intro_contain .row .col-4 {
        width: 100%;
        margin-top: 45px;
    }

    .wrapIntro .respondVictim ul li {
        width: 100%;
    }

    .wrapIntro .respondVictim ul li:nth-child(odd),
    .wrapIntro .respondVictim ul li:nth-child(even) {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .wrap_home .wrapbanner img {
        height: 500px;
    }

    .wrap_home .wrapbanner .content_banner_home {
        top: 17%;
        left: 15px;
    }

    .wrap_home .chisoWrap .list_chiso {
        padding: 2rem 2rem;
    }

    .wrap_home .sickWrap,
    .wrap_home .courseWrap_demo,
    .wrap_home .vids_wrap {
        padding: 0 2rem;
    }

    .wrap_home .vids_wrap .wrap_imgsSpace .row:nth-child(1) .col-3 {
        width: 50%;
    }

    .wrap_home .vids_wrap .wrap_imgsSpace .row:nth-child(1) .col-3:nth-child(3) {
        padding-left: 0;
    }

    .wrap_home .vids_wrap .wrap_imgsSpace .row:nth-child(1) .col-3:nth-child(3),
    .wrap_home .vids_wrap .wrap_imgsSpace .row:nth-child(1) .col-3:nth-child(4) {
        margin-top: 15px;
    }

    .wrap_home .vids_wrap .row .col-4,
    .wrap_home .sickWrap .list_sick .row .col-4,
    .wrap_home .chisoWrap .list_chiso .row .col-4 {
        width: 100%;
    }

    .wrap_home .vids_wrap .row .col-4 {
        margin: 12px 0;
    }

    .wrapProduct .wrap_products .showlist_products .productAdvertizing .list_productRun .box_list_productRun div {
        padding-top: 0px;
    }

    .wrapBlogList {
        padding: 0 2rem;
    }

    .wrap_home .chisoWrap .list_chiso .row .col-3 {
        width: 100%;
    }

    .wrap_home .chisoWrap .title_home {
        padding: 0 30px;
    }

    .wrapMainCourse .mainCourse1 .row .col-4 {
        width: 100%;
        margin-top: 20px;
    }

    .wrapMainCourse .mainCourse1 {
        padding: 0 2rem;
    }

    .wrapMainCourse .mainCourse2 .row .col-4 {
        width: 100%;
    }

    .wrapMainCourse .mainCourse2 .title_home h3 {
        text-align: center;
    }

    .wrapMainCourse .mainCourse2 .mainCourse2_wrapContent {
        position: relative;
        background: rgba(0, 0, 0, 0.8);
    }

    .wrapMainCourse .mainCourse3 {
        padding: 0 1rem;
    }

    .wrapMainCourse .mainCourse3 .slide-i {
        margin: 0 15px;
    }

    .wrapMainCourse .mainCourse4 {
        padding: 0 2rem;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-8,
    .wrapMainCourse .mainCourse4 .intro_contain .row .col-4 {
        width: 100%
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-4 .upperAvatar {
        padding: 25px 7rem;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-4 {
        margin-top: 25px;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-8 .introContent2 .listintroWrap {
        flex-direction: column !important;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-8 .introContent2 .listintroWrap ul:nth-child(2) {
        margin-top: 14px;
        margin-left: 0;
    }

    .wrapMainCourse .mainCourse5,
    .wrapMainCourse .mainCourse6 {
        padding: 0 2rem;
    }

    .wrapMainCourse .mainCourse5 .mainCourse5_content .row .col-8,
    .wrapMainCourse .mainCourse5 .mainCourse5_content .row .col-4 {
        width: 100%;
    }

    .wrapMainCourse .mainCourse5 .mainCourse5_content .row .col-8 {
        padding-top: 20px
    }

    .wrapMainCourse .mainCourse6 .mainCourse6_content .row .col-8,
    .wrapMainCourse .mainCourse6 .mainCourse6_content .row .col-4 {
        width: 100% !important;
        margin: 8px 0 !important;
    }

    .wrapMainCourse .mainCourse6 .mainCourse6_content .row {
        margin: 0;
    }

    .wrapMainCourse .mainCourse2 .mainCourse2_wrapContent .row {
        margin-left: 0;
        margin-right: 0;
    }

    .mainBlogWrap .mainBlog_3,
    .mainBlogWrap .mainBlog_4 {
        margin: 0 2rem 85px 2rem;
    }

    .mainBlogWrap .mainBlog_3 .row .col-3 {
        width: 50%;
    }

    .mainBlogWrap .mainBlog_4 .col-6:nth-child(1) {
        padding-right: 0rem;
    }

    .mainBlogWrap .mainBlog_4 .col-6 {
        width: 100%;
    }

    .mainBlogWrap .mainBlog_4 .col-6:nth-child(2) {
        margin-top: 15px;
    }

    .wrapLearningCourse,
    .wrapCourseMineList {
        padding: 0 2rem;
    }

    .wrapLearningCourse .row .col-8,
    .wrapLearningCourse .row .col-4 {
        width: 100%;
    }

    .wrapLearningCourse .row .col-4 {
        padding-top: 25px;
    }

    .wrapIntro .intro_contain,
    .wrapIntro .bannerLife .title_home,
    .wrapIntro .roadsIntro {
        padding: 0 2rem;

        .road_contents {
            p {
                padding-right: 0;
            }

            ul {
                padding-left: 0;
            }

            .wrap_imgsSpace {
                .row .col-3 {
                    width: 50%;
                }

                .row .col-3:nth-child(n+3) {
                    margin-top: 15px;
                }
            }
        }
    }
    .wrapFeedBack {
        margin: 65px 20px !important;
        > .row {
            >.col-8,
            >.col-4 {
                width: 100% !important;
            }
            >.col-4 {
                padding-top: 30px;
            }
            > .col-8 {
                padding-right: 15px !important;
                .row:nth-child(2) {
                    .col-7,
                    .col-5 {
                        width: 100%;
                    }
                    .col-5 {
                        margin-top: 20px;
                    }
                }
                .row:nth-child(3) {
                    .col-12 {
                        padding-bottom: 0 !important;
                        .row {
                            .col-4,
                            .col-8 {
                                width: 100%;
                            }
                            .col-8 {
                                margin-top: 15px;
                            }
                        }
 
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    footer .foot_p3 p {
        font-size: 11px !important;
    }

    .wrapProduct .list_cats_product .show_list_cats_product {
        padding: 2.6rem 1rem 0rem 1rem;
    }

    .wrapProduct .advertizing_products div {
        width: 100%;
    }

    .wrapProduct .advertizing_products {
        display: block;
    }

    .mainBlogWrap .mainBlog_1>div {
        width: 100%;
    }

    .wrapCourseDetail .boxUnder .desc .desc_c figure img {
        width: 100%;
    }

    .wrapIntro .bannerIntro img {
        position: relative;
        object-fit: cover;
        height: 500px;
    }

    .wrapIntro .bannerIntro .content_banner_intro {
        top: 35%;
        left: 20px;
        z-index: 999;
    }

    .wrapProduct .wrap_products .showlist_products .productAdvertizing .duoclieu_banner {
        height: 450px;
    }

    .wrapProduct .list_cats_product .show_list_cats_product .card_cat_product {
        margin: 4px !important;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-4 .upperAvatar {
        padding: 25px 3rem;
    }

    .mainBlogWrap .mainBlog_3 .row .col-3 {
        width: 100%;
    }

    .mainBlogWrap .mainBlog_3 .row .col-12>div {
        flex-direction: column;
    }

    .mainBlogWrap .mainBlog_3 .row .col-12>div>div {
        margin-top: 18px;
        padding-left: 0;
    }

    .mainBlogWrap .mainBlog_3 .row .col-12>div>img,
    .mainBlogWrap .mainBlog_3 .row .col-12>div>div {
        width: 100%;
    }

    .wrapForgot .wrapLoginF_content {
        width: 100%;
        margin: 3rem 0;
        padding: 0 20px;
    }

}

@media (max-width: 576px) {
    form {
        margin: 20px !important;
    }

    .wrapProduct .list_cats_product .show_list_cats_product {
        display: block;
        padding: 2.6rem 0.4rem 0rem 0.4rem;
    }

    .wrapProduct .list_cats_product .show_list_cats_product .card_cat_product {
        width: 100%;
        margin-top: 10px;
    }

    .wrapProduct .wrap_products .showlist_products .productLists .card_product {
        width: 93%;
    }

    .comment_wrap .comments_list {
        margin: 1rem;
    }

    .blogDetWrap .row .col-8 .tags ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .blogDetWrap .row .col-8 .tags ul li {
        margin: 7px 0px !important;
    }

    .mainBlogWrap .mainBlog_2 .row .col-4 {
        width: 100%;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-4 .upperAvatar>div img {
        height: 270px;
    }

    .wrapMainCourse .mainCourse4 .intro_contain .row .col-4 .upperAvatar {
        padding: 10px;
    }

    .wrapLearningCourse .row .col-8 .content .vidUper {
        height: 250px;
    }

    .wrapIntro .intro_contain,
    .wrapIntro .bannerLife .title_home,
    .wrapIntro .roadsIntro {
        .road_contents {
            .wrap_imgsSpace {
                .row {

                    .col-3,
                    .col-6 {
                        width: 100%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .wrapProduct .advertizing_products .content_start {
        height: auto;
    }
}