.wrapCourseDetail {
    .boxTop {
        background: #2d2f31;
        padding: 3rem 6rem;
        margin-bottom: 3rem;
        margin: 0 0 3rem 0;

        .col-6:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 350px;
                width: 80%;
                border-radius: 5px;
            }
        }

        .col-6:nth-child(1) {
            margin-top: 28px;
            padding-left: 25px;

            >h1 {
                font-size: 48px;
                line-height: 59px;
                color: #fff;
                font-weight: 700;
            }

            .boxTop_c1 {
                display: flex;
                align-items: center;

                p:nth-child(1) {
                    display: inline-block;
                    padding: 5px 12px;
                    background: #7F1416;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 700;
                    color: #fff;
                    border-radius: 5px;
                }

                p:nth-child(2) {
                    margin-left: 12px;
                    color: #fff;
                    font-weight: 200;
                    font-size: 14px;
                }
            }

            >p {
                color: #fff;
                font-weight: 200;
                font-size: 14px;

                span {
                    text-decoration: underline;
                }
            }

            .boxTop_c2 {

                span,
                svg {
                    color: #fff;
                    font-size: 14px;
                }

                span {
                    svg {
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }
                }

                span:nth-child(n + 2) {
                    margin-left: 25px;
                }
            }

            button {
                margin-top: 27px;
                height: auto;
                padding: 7px 25px;
                font-size: 16px;
                color: #fff;
                background: #7F1416;
            }

            button:hover {
                border: 1px solid #e9e9e9;
            }
        }
    }

    .boxUnder {
        padding: 0 7.5rem;

        .title_home {
            align-items: flex-start;
        }

        .desc {
            .desc_c {

                h1,
                h2,
                h3 {
                    font-size: 27px;
                    font-weight: 800;
                }

                h4,
                h5,
                h6 {
                    font-size: 21px;
                    font-weight: 600;
                }

                ul {
                    margin: 12px 0;
                    margin-left: 45px;
                }

                ul li {
                    list-style-type: disc;
                }

                ul li span {
                    font-weight: 200;
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                    font-weight: 200;
                    line-height: 19px;
                }

                figure img {
                    width: 70%;
                    height: 480px;
                }
            }
        }
    }

    .boxUnder2 {
        padding: 0 7.5rem;
        margin-bottom: 3rem;

        .title_home {
            align-items: flex-start;

        }

        .contentSection .contentSection_note {
            p {
                font-size: 15px;
                font-weight: 300;

            }
        }

        .contentSection>ul {
            border: 1px dashed rgba(127, 20, 22, 0.8);
            padding: 25px 35px;
            border-radius: 5px;
            width: 50%;

            >li {
                .topAcordition {
                    padding: 15px 15px;
                    background: #f7f9fa;

                    p {
                        font-size: 17px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                    svg {
                        margin-bottom: 4px;
                        margin-right: 5px;
                    }
                }

                .underAcordition {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.15s ease-out;

                    ul {
                        padding: 20px;
                        background: #e9e9e9;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p:nth-child(1) {
                                font-size: 14px;
                                font-weight: 400;

                                svg {
                                    margin-right: 3px;
                                }
                            }

                            p:nth-child(2) {
                                span:nth-child(1) {
                                    button {
                                        background-color: #7F1416;
                                        color: #fff;
                                    }

                                    button:hover {
                                        border: 1px solid transparent;
                                    }
                                }
                            }

                        }
                    }
                }

                .underAcordition.activeAniSlide {
                    max-height: 100%;
                    transition: max-height 0.5s ease-in;
                }

            }
        }
    }
}

.wrapMainCourse {
    .banner_wrap {
        margin-top: 0 !important;
        margin-bottom: 85px;
    }
    .slick-dots {
        bottom: -38px;
    }

    .mainCourse1 {
        padding: 0 7.5rem;
        margin-bottom: 85px;
    }

    .mainCourse2 {
        // padding: 0 7.5rem;
        position: relative;
        margin-bottom: 85px;

        >img {
            position: relative;
            object-fit: cover;
        }

        .title_home {
            margin-top: 20px;

            h3 {
                color: #fff;
            }
        }

        .mainCourse2_wrapContent {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .row {
                .col-4 {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >div {
                        width: 225px;
                        padding: 23px 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background: rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                        margin: 20px 65px;
                        text-align: center;

                        h5,
                        p {
                            color: #fff;
                        }

                        h5 {
                            font-size: 17px;
                            margin-top: 7px;
                            margin-bottom: 5px;
                            font-weight: 600;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 200;
                        }
                    }

                    img {
                        width: 90px;
                        height: 90px;
                        margin: 12px 0;
                    }
                }
            }
        }

    }

    .mainCourse2::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .mainCourse3 {
        padding: 0 7.5rem;
        margin-bottom: 85px;

        .slide-i {
            margin: 0 25px;
            width: auto !important;
            cursor: pointer;
        }
    }

    .mainCourse4 {
        padding: 0 7.5rem;
        margin-top: 125px;
        margin-bottom: 95px;

        .intro_contain {
            .row {
                .col-8 {
                    h6 {
                        font-weight: 500;
                        color: #046937;
                        font-size: 15px;
                        text-transform: uppercase;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                    }

                    .introContent2 {

                        .listintroWrap {
                            ul:nth-child(2) {
                                margin-left: 23px;
                            }

                            ul li span {
                                padding-right: 7px;
                            }

                            ul li span svg {
                                color: #046937;
                                margin-bottom: 2px;
                            }

                            ul li {
                                font-size: 14px;
                                font-weight: 200;
                                margin-top: 4px;
                            }
                        }
                    }
                }

                .col-4 {
                    .upperAvatar {
                        padding: 25px;
                        border-top: 5px solid #046937;
                        border-bottom: 5px solid #046937;

                        >div {
                            padding: 30px 50px;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            text-align: center !important;

                            h5 {
                                margin: 16px 0 0 0;
                                font-weight: 600;
                                color: #000;

                            }

                            p {
                                margin-top: 5px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #7F1416;
                                margin-bottom: 0;
                            }

                            ul {
                                display: flex;
                                justify-content: center;

                                li {
                                    margin: 5px 7px;

                                    svg {
                                        color: #C0C0C0;
                                    }
                                }
                            }
                        }
                    }

                    .downAvatarInfo {
                        padding: 25px;
                        border-bottom: 5px solid #046937;

                        h4 {
                            font-weight: 600;
                            font-size: 21px;
                            color: #7F1416;
                            margin-bottom: 15px;

                        }

                        ul {
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            padding: 25px 18px 18px 18px;

                            li:nth-child(2) {
                                margin-top: 15px;
                            }

                            li:nth-child(-n+1) {
                                border-bottom: 1px solid #e6e6e6;
                            }

                            li {
                                h5 {
                                    font-size: 17px;
                                    font-weight: 600;
                                }

                                p {
                                    font-weight: 200;
                                    font-size: 14px;
                                }
                            }

                        }
                    }
                }
            }

            .title_home {
                align-items: flex-start;
                margin-bottom: 10px;
                margin-top: 18px;
            }

            >p {
                font-weight: 300;
                text-align: justify;
                font-size: 15px;
            }
        }

    }

    .mainCourse5 {
        padding: 0 7.5rem;
        margin-bottom: 110px;

        .mainCourse5_content {
            .row {
                .col-4 {
                    img {
                        height: 300px;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }

                .col-8 {
                    h6 {
                        font-size: 25px;
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 46px;
                    }

                    ul {
                        margin-left: 35px;

                        li {
                            list-style-type: disc;
                            font-size: 15px;
                            font-weight: 200;
                            margin: 8px 0;
                        }
                    }

                }
            }
        }
    }
    .mainCourse6 {
        padding: 0 7.5rem;
        margin-bottom: 110px;
        .mainCourse6_content {
            img {
                height: 280px;
                object-fit: cover;
            }
            .row {
                .col-4, .col-8 {
                    padding: 0 7px !important;
                }
            }
            .row:nth-child(2) {
                margin-top: 14px;
            }
        }

    }
}